.footer-container{
    height: 17.8%;
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    background-color:#032642;
}
.footer-parent{
    height: 100%;
    width: 100% ;
    max-width: 1920px;
}
.footer-parent img{
    min-width: 30%;
    height: 130px;
    object-fit: cover;

}
@media only screen and (max-width:1110px){
    .footer-parent{
        display: flex;
        align-items: flex-end;
    }
    
}